b:hover {
    color: rgb(235, 190, 122);
    /* Changes text color */
    transition: color 0.3s ease, transform 0.3s ease;
    /* Applies smooth transitions */
    transform: scale(1.1);
    /* Slightly enlarges the element on hover */
    font-family: sans-serif;
}

.dropdown-item {
    padding: 0;
}


/* Button styling */

.learn-more-button {
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.learn-more-button:hover {
    background-color: #1abc9c;
    transform: scale(1.05);
}


/* Fade-in animation */

.learn-btn {
    text-decoration: none;
    color: white;
}

.learn-btn:hover {
    text-decoration: none;
    color: white;
}


/* Hover effect for dropdown items */

.dropdown-hover {
    transition: background-color 0.3s ease-in-out;
}